.Tsearch{
    display: flex;
    height: 100px;
    margin-left: 5%;
    position: relative;
    .search{
      width: 75%;
      height: 100%;
      border-radius: 20px;
      background: rgb(247, 247, 247);
      padding-left: 70px;
    }
    .phcolor{
      margin-left: 1%;
    }
    text{    
      flex: 1;
      text-align: center;
      line-height: 100px;
      display: inline-block;
      background: #fff;
      color: rgb(7, 193, 96);
      border: none;
      position: relative;
    }
    .inputDelete{
        width: 40rpx;
        height: 40rpx;
        border-radius: 50%;
        background: #acacac;
        position: absolute;
        top: 33px;
        left: 77%;
        line-height: 37rpx;
        text-align: center;
        color: #fff;
        z-index: 2;
    }
    .Icon{
        position: absolute;
        top: 30px;
        left: 10px;
    }
  }

.Fsearch{
    display: flex;
    height: 100px;
    margin-left: 4%;
    position: relative;
    .search{
        width: 95%;
        height: 100%;
        border-radius: 20px;
        background: rgb(247, 247, 247);
      }
    .phcolor{
        margin-left: 40%;
      }
    text{
        flex: 1;
        text-align: center;
        line-height: 100px;
        display: inline-block;
        background: #fff;
        color: rgb(7, 193, 96);
        border: none;
        display: none;
      }
    .Icon{
        left: 30%;
        position: absolute;
        top: 30px;
    }
  }
  