@import '../variables/index.less';
@import '../mixins/index.less';

@grid-item-width: 100%;

.@{--css-prefix}-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: @grid-bg;

  &-item {
    width: @grid-item-width;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__content{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1%;
      padding: @grid-item-padding-y 0;

      &-image {
        width: @grid-item-image-size;
        height: @grid-item-image-size;
      }

      &-text {
        font-size: @grid-item-text-size;
        margin-top: @grid-item-text-padding;
      }
    }

    &__content_row {
      flex-direction: row;
      .slc-grid-item__content-text {
        margin: 0;
        margin-left: 12px;
      }
    }

    &__content_top {
      .slc-grid-item__content-text {
        margin: 0;
        margin-bottom: 12px;
      }
    }

    &__content_right {
      .slc-grid-item__content-text {
        margin: 0;
        margin-right: 12px;
      }
    }
  }

  &-item-border-right {
    border-right: 1PX solid #ebedf0;
  }

  &-item-border-bottom {
    border-bottom: 1PX solid #ebedf0;
  }
}
