@import '../variables/index.less';
@import '../mixins/index.less';

@ImageText: .slc-image-text-item-ImageText;

@slc-image-text-item-ImageText-width: 100%;
@slc-image-text-item-ImageText-Image-width: 80%;
@slc-image-text-item-ImageText-ImageTextItem-width: 19%;
@slc-image-text-item-ImageText-ImageTextItem-height: 140px;
@slc-image-text-item-ImageText-ImageTextItem-padding-top: 35px;
@slc-image-text-item-ImageText-Image-size: 50px;
@slc-image-text-item-ImageText-Text-margin-top: 5px;
@slc-image-text-item-ImageText-Text-font-size: 26px;

@{ImageText}{
  width: @slc-image-text-item-ImageText-width;
  display: flex;
  flex-wrap: wrap;
  &-ImageTextItem{
    width: @slc-image-text-item-ImageText-ImageTextItem-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: @slc-image-text-item-ImageText-ImageTextItem-padding-top;
    margin-left: 1%;
    .hydrated{
      width: @slc-image-text-item-ImageText-width;
      height: @slc-image-text-item-ImageText-width;
      text-align: center;
      font-size: @slc-image-text-item-ImageText-Text-font-size;
      .taro-img__mode-scaletofill{
        height: @slc-image-text-item-ImageText-Image-size;
        width: @slc-image-text-item-ImageText-Image-width;
      }
    }
  }
}
