@import '../variables/index.less';
@import '../mixins/index.less';

@Tcomponent: .slc-search-Tsearch;
@Fcomponent: .slc-search-Fsearch;

@slc-search-background: #F9F9F9;
@slc-search-text-color: rgb(7, 193, 96);
@slc-search-text-background: #fff;
@slc-search-delete-background: #acacac;
@slc-search-width:100%;
@slc-search-height: 100%;
@slc-search-margin: 11%;
@slc-search-border-radius: 76px;
@slc-search-delete-size: 30px;
@slc-search-delete-position-top: 30%;
@slc-search-delete-position-right: calc(@slc-search-margin + @slc-search-icon-font-size + 10%);
@slc-search-icon-top: 29%;
@slc-search-icon-font-size: 30px;
@slc-search-font-size: 26px;

@{Tcomponent}{
  display: flex;
  position: relative;
  width: @slc-search-width;
  background: @slc-search-background;
  border-radius: @slc-search-border-radius;
  &-search{
    width: calc(@slc-search-width - 60%);
    height: @slc-search-height;
    font-size: @slc-search-font-size;
    border-radius: @slc-search-border-radius;
    padding-left: @slc-search-margin;
    overflow: hidden;
  }
  
  .slc-search-Tsearch-phcolor{
    font-size:60px;
    position: relative;
    left: @slc-search-margin;
  }
  .slc-search-Tsearch-inputDelete{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: @slc-search-delete-background;
    position: absolute;
    top: @slc-search-delete-position-top;
    right: 30%;
    line-height: @slc-search-width;
    text-align: center;
    color: @slc-search-text-background;
    z-index: 2;
  }
 
  &-Icon{
    right: @slc-search-margin;;
    position: absolute;
    top: @slc-search-icon-top;
  }
}

@{Fcomponent}{
  display: flex;
  position: relative;
  &-search{
    width: @slc-search-width;
    height:@slc-search-height;
    font-size: @slc-search-font-size;
    border-radius: @slc-search-border-radius;
    background: @slc-search-background;
  }
  .weui-input::placeholder{
    position: relative;
    left: @slc-search-margin;
  }
  
  &-Icon{
    right: @slc-search-margin;;
    position: absolute;
    top: @slc-search-icon-top;
  }
}
.weui-input{
  height: @slc-search-height;
}




 

