
.sl-custom-header-component{
    .hs-custom-header {
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        .custom-header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            box-sizing: border-box;
            width: 100%;
        }
        .status-height {
            width: 100%;
            background: #fff;
        }
        .custom-header-content {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 100%;
            height: 88px;
            padding: 0 24px;
            background: #fff;
            .custom-header-content-back {
                width: 100%;
                max-width: 100%;
            }
        }
        .seat-height {
            width: 100%;
            height: 95px;
        }
        .header-return {
            position: fixed;
            left: 24px;
        }
        .custom-header-app {
            top: 112px;
        }
    }      
}
