@import "../variables/index.less";
@import "../mixins/index.less";

@commission-mb: 5px;

.@{--css-prefix}-price {
  .flex-direction(row);
  height: @price-height;
  overflow: hidden;

  &__text {
    font-size: @font-size-sm;
    line-height: @line-height-zh;
    color: var(--promotionColor);
  }

  &__text-content {
    font-size: @font-size-xl;
  }

  &__commission {
    .flex-items(flex-end);
    height: @price-height;
    margin-left: @spacing-h-sm;

    &--box {
      box-sizing: border-box;
      height: @price-commission-height;
      margin-bottom: @commission-mb;
      padding: 0 @spacing-h-md;
      border-radius: @border-radius-md;
      font-size: @font-size-xs;
      color: @color-white;
      background: @color-text-secondary;
      .flex-center();
    }
  }
}
