node_modules
./.vscode
.DS_Store
lerna-debug.log
yarn.lock
package-lock.json

# Build outputs
/bin
/nginx
dist
lib

# umi
.umi
.umi-production
.umi-test
.env.local

# dependencies
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

