.container {
  max-width: 1200px;
  margin: 0 auto;
}

.index-page {
  background: #fff;
  margin: 0 auto;

  &__banner {
    height: 648px;
    overflow: hidden;

    &-content {
      width: 362px;
      height: 214px;
      margin-top: 164px;

      &__login {
        width: 193px;
        height: 94px;
        margin-bottom: 20px;

        img {
          width: 193px;
          height: 94px;
        }
      }

      &__p {
        color: #666;
        font-size: 18px;
      }

      &__buttons {
        margin-top: 40px;
      }

      &__button {
        width: 132px;
        height: 42px;
        font-size: 18px;
        border-radius: 21px;
        margin-right: 20px;
      }
    }
  }
}
