
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}
.footer{
  margin-top: 12px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  width: 90px;
  height: 48px;
  overflow: hidden;
}
<<<<<<< Updated upstream
=======

.doc {
  padding-right: 630px;
  width: 1680px;
  margin: 0 auto;
}

.demo {
  position: absolute;
  top: 90px;
  right: 30px;
  z-index: 1;
  box-sizing: border-box;
  width: 360px;
  min-width: 360px;
  overflow: hidden;
  background: #fafafa;
  border-radius: 12 px;
  box-shadow: #ebedf0 0 4px 12px;
  height: 100%;
}
>>>>>>> Stashed changes
