.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}
.footer{
  margin-top: 12px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logoBox {
   width: 260px;
   height: 72px;
   background: @primary-color-light;
   padding-left: 40px;
   box-sizing: border-box;
  .logo {
    width: 108px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
  }
}

.siteSider {
  padding-left: 40px;
  background: @primary-color-light;
}
