@import "../../variable.less";
@import "../../mixins/index.less";
@import "./var.less";

.@{--css-prefix}-dropdown-menu-container{
  /* stylelint-disable-next-line CssSyntaxError */
  position: fixed;
  width: 100%;
}

@keyframes showPopup {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.@{--css-prefix}-dropdown-menu {
  font-size: var(--dropdown-menu-title-font-size);
  color: var(--dropdown-menu-title-text-color);
  &__bar {
    background: var(--dropdown-menu-background-color);
    box-shadow: var(--dropdown-menu-box-shadow);
    height: var(--dropdown-menu-height);
    line-height: var(--dropdown-menu-height);
    .mixin-flex-space-between();
  }

  &__popup{
    position: relative;

    &-item{
      z-index: var(--dropdown-item-z-index);
      position: absolute;
      width: 100%;
      background-color: var(--dropdown-menu-background-color);
      border-bottom-right-radius: var(--dropdown-item-border-radius);
      border-bottom-left-radius: var(--dropdown-item-border-radius);
      display: none;
      transition: all 0.3s linear 0s;
      &__active {
        display: block;
        animation: showPopup .3s;
      }
    }
  }

  &__overlay{
    height: 100vh !important;
    animation-duration: 0.2s;
    transition: all 0.3s linear 0s;
    opacity: 0;
    display: none;
    overflow: hidden;
    .mixin-overlay(var(--dropdown-overlay-bg-color));
    &-active {
      display: block;
      opacity: 1;
      z-index: var(--dropdown-overlay-z-index);
    }
  }

  &-item{
    flex: 1;
    text-align: center;
    height: var(--dropdown-menu-height);
    line-height: var(--dropdown-menu-height);

    &__active{
      color: var(--color-primary);
    }

    &__title{
      height: 100%;
      .flex-center();
      &-text{
        padding: 10px;
      }
    }

    &__view{
      height: var(--dropdown-menu-height);
      line-height: var(--dropdown-menu-height);
      padding: 0 20px;

      &:last-child{
        border-bottom-right-radius: var(--dropdown-item-border-radius);
        border-bottom-left-radius: var(--dropdown-item-border-radius);
      }

      &__active{
        color: var(--color-primary);
        background-color: var(--dropdown-menu-active-background-color);
      }
    }
  }
}
