@import "../../styles//variable.less";

@dropdown-menu-background-color: @color-white;
@dropdown-menu-title-font-size: @font-size-base;
@dropdown-menu-title-text-color: @color-text;
@dropdown-menu-height: 80px;
@dropdown-menu-box-shadow: 0 2px 12px #EBEDF0;
@dropdown-item-z-index: 10;
@dropdown-item-border-radius: 16px;
@dropdown-menu-active-background-color: #F4F6FA;
@dropdown-overlay-bg-color: @overlay-bg-color;
@dropdown-overlay-z-index: 99;
