@color-base: #333;

body {
  margin: 0;
  padding: 0;
}

.index-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  overflow: hidden;
  background: #F8F8F8;

  .title {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-bottom: 22px;
    margin-left: 40px;
    font-size: 44px;
  }
  
  .logo {
    width: 216px;
    height: 56px;
    margin-top: 70px;
    overflow: hidden;
  }
  
  .logo-des {
    margin-top: 30px;
    font-size: 28px;
    color: #666666;
  }
  
  .comp {
    overflow: hidden;
  }

  .comp-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 16px;
    padding: 0 40px;
    border-radius: 8px;
    line-height: 88px;
    color: @color-base;
    background: #FFFFFF;
    -webkit-transition: background .3s;
    transition: background .3s;
    cursor: pointer;

    &:active {
      color: #FFFFFF;
      background: @color-base;
    }
    // &:hover{
    //   background: @color-base;
    //   color: #fff;
    // }
  }
  
  .comp-item-parent {
    margin: 48px 0 24px;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    color: @color-base;
    background: none;
  }

  .comp-item-text {
    font-size: 28px;
  }
}
