:root, page {
  // button
  --datetime-picker-font-size: 28px;
  --datetime-picker-btn-font-size: 32px;
  --datetime-picker-default-font-color: #333;
  --datetime-picker-gray-font-color: #999;
  --datetime-picker-mask-index: 1;
}